In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sn
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
import seaborn as sns
sns.set()

In [11]:
raw_data = pd.read_csv('CarPrice_Assignment.csv')

In [25]:
raw_data.head(10)

,CarName,fueltype,aspiration,doornumber,carbody,enginelocation,wheelbase,carlength,carwidth,carheight,...,cylindernumber,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,alfa-romero giulia,1,1,2,convertible,1,88.6,168.8,64.1,48.8,...,four,130,3.47,2.68,9.0,111,5000,21,27,13495.000
1,alfa-romero stelvio,1,1,2,convertible,1,88.6,168.8,64.1,48.8,...,four,130,3.47,2.68,9.0,111,5000,21,27,16500.000
2,alfa-romero Quadrifoglio,1,1,2,hatchback,1,94.5,171.2,65.5,52.4,...,six,152,2.68,3.47,9.0,154,5000,19,26,16500.000
3,audi 100 ls,1,1,4,sedan,1,99.8,176.6,66.2,54.3,...,four,109,3.19,3.40,10.0,102,5500,24,30,13950.000
4,audi 100ls,1,1,4,sedan,1,99.4,176.6,66.4,54.3,...,five,136,3.19,3.40,8.0,115,5500,18,22,17450.000
5,audi fox,1,1,2,sedan,1,99.8,177.3,66.3,53.1,...,five,136,3.19,3.40,8.5,110,5500,19,25,15250.000
6,audi 100ls,1,1,4,sedan,1,105.8,192.7,71.4,55.7,...,five,136,3.19,3.40,8.5,110,5500,19,25,17710.000
7,audi 5000,1,1,4,wagon,1,105.8,192.7,71.4,55.7,...,five,136,3.19,3.40,8.5,110,5500,19,25,18920.000
8,audi 4000,1,0,4,sedan,1,105.8,192.7,71.4,55.9,...,five,131,3.13,3.40,8.3,140,5500,17,20,23875.000
9,audi 5000s (diesel),1,0,2,hatchback,1,99.5,178.2,67.9,52.0,...,five,131,3.13,3.40,7.0,160,5500,16,22,17859.167

In [13]:
raw_data = raw_data.drop(['car_ID'],axis=1)

In [14]:
raw_data = raw_data.drop(['symboling'],axis=1)

In [15]:
raw_data.head()

,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,audi 100ls,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [16]:
raw_data['fueltype'] = raw_data['fueltype'].map({'gas':1,'diesel':0})

In [18]:
raw_data['aspiration'] = raw_data['aspiration'].map({'std':1,'turbo':0})

In [19]:
raw_data['doornumber'] = raw_data['doornumber'].map({'two':2,'four':4})

In [20]:
raw_data = raw_data.drop(['drivewheel'],axis=1)

In [21]:
raw_data['enginelocation'] = raw_data['enginelocation'].map({'front':1,'rear':0})

In [24]:
raw_data = raw_data.drop(['fuelsystem'],axis=1)

In [27]:
raw_data['enginetype']

0      dohc
1      dohc
2      ohcv
3       ohc
4       ohc
       ...
200     ohc
201     ohc
202    ohcv
203     ohc
204     ohc
Name: enginetype, Length: 205, dtype: object