In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn.linear_model as LinearRegression
import seaborn as sns
import statsmodels.api as sm

sns.set()

from scipy import stats
stats.chisqprob = lambda chisq, df: stats.chi2.sf(chisq.df)

In [11]:
raw_data = pd.read_csv('Bank_data.csv')

In [12]:
raw_data.head()

   Unnamed: 0  interest_rate  credit  march  may  previous  duration    y
0           0          1.334     0.0    1.0  0.0       0.0     117.0   no
1           1          0.767     0.0    0.0  2.0       1.0     274.0  yes
2           2          4.858     0.0    1.0  0.0       0.0     167.0   no
3           3          4.120     0.0    0.0  0.0       0.0     686.0  yes
4           4          4.856     0.0    1.0  0.0       0.0     157.0   no

In [13]:
raw_data['y'] = raw_data['y'].map({'yes':1,'no':0})

In [14]:
y = pd.DataFrame(raw_data.iloc[:,-1])
x1 = pd.DataFrame(raw_data.iloc[:,1:-1])

In [15]:
x = sm.add_constant(x1)
reg_res = sm.Logit(y,x).fit()

Optimization terminated successfully.
         Current function value: 0.335942
         Iterations 7

In [16]:
reg_res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                      y   No. Observations:                  518
Model:                          Logit   Df Residuals:                      511
Method:                           MLE   Df Model:                            6
Date:                Wed, 29 Jan 2020   Pseudo R-squ.:                  0.5153
Time:                        10:44:38   Log-Likelihood:                -174.02
converged:                       True   LL-Null:                       -359.05
Covariance Type:            nonrobust   LLR p-value:                 7.579e-77
=================================================================================
                    coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------
const            -0.1385      0.339     -0.408      0.683      -0.804       0.527
interest_rate    -0.7802      0.092     -8.471      0.000      -0.961      -0.600
credit            2.4028      1.090      2.205      0.027       0.267       4.538
march            -1.8097      0.332     -5.459      0.000      -2.459      -1.160
may               0.1946      0.229      0.849      0.396      -0.255       0.644
previous          1.2746      0.583      2.186      0.029       0.132       2.417
duration          0.0070      0.001      9.386      0.000       0.006       0.008
=================================================================================
"""

In [17]:
np.set_printoptions(formatter={'float':lambda x:'{0:0.2f}'.format(x)})
reg_res.predict()

array([0.10, 0.94, 0.01, 0.81, 0.01, 0.56, 0.03, 0.00, 0.71, 0.07, 0.95,
       0.47, 0.90, 0.10, 0.08, 0.81, 0.88, 0.84, 0.36, 0.76, 0.97, 0.88,
       0.13, 0.10, 0.63, 0.08, 0.79, 0.75, 0.89, 0.04, 0.02, 0.12, 0.28,
       0.74, 0.06, 0.01, 0.99, 0.06, 1.00, 0.53, 0.06, 0.83, 0.06, 0.01,
       0.85, 0.57, 0.00, 0.14, 0.15, 0.81, 0.72, 0.05, 0.03, 0.05, 0.01,
       0.84, 0.09, 0.83, 0.98, 0.82, 0.04, 0.11, 0.99, 0.75, 0.16, 0.30,
       0.05, 0.06, 1.00, 0.08, 0.02, 0.77, 0.14, 0.97, 0.88, 0.12, 0.65,
       0.05, 0.01, 0.03, 0.90, 0.84, 0.89, 0.13, 0.22, 0.98, 0.62, 0.85,
       0.72, 0.03, 0.08, 0.03, 0.69, 0.62, 0.94, 0.98, 0.97, 0.03, 0.98,
       0.06, 0.99, 0.07, 0.99, 0.67, 0.28, 0.35, 0.19, 0.68, 0.78, 0.03,
       0.99, 0.44, 0.17, 0.06, 0.93, 0.02, 0.04, 0.89, 0.49, 0.14, 0.10,
       0.00, 0.93, 1.00, 0.32, 0.98, 0.93, 0.86, 0.72, 0.65, 0.05, 0.25,
       0.80, 0.80, 0.85, 0.09, 0.22, 0.72, 0.11, 0.01, 0.01, 0.01, 0.24,
       0.78, 0.23, 1.00, 0.22, 0.01, 1.00, 0.61, 0.71, 0.45, 0.96, 0.86,
       0.05, 0.88, 0.59, 0.98, 0.95, 0.99, 0.96, 0.83, 0.87, 0.10, 0.76,
       0.20, 0.06, 0.48, 0.10, 0.22, 0.58, 0.96, 0.94, 0.05, 0.05, 0.98,
       0.75, 0.87, 0.90, 0.99, 0.17, 0.12, 0.11, 0.84, 0.04, 0.07, 0.00,
       0.03, 1.00, 0.69, 0.66, 0.41, 0.09, 0.71, 0.88, 0.02, 0.90, 0.03,
       0.89, 0.68, 0.05, 0.58, 0.96, 0.99, 0.04, 0.11, 0.96, 0.70, 0.02,
       0.99, 0.73, 0.02, 0.99, 0.72, 0.03, 0.70, 1.00, 0.79, 0.55, 0.00,
       0.98, 0.96, 0.06, 0.01, 0.90, 0.01, 0.62, 0.91, 1.00, 0.97, 0.30,
       0.01, 0.20, 0.89, 0.60, 1.00, 0.75, 0.21, 0.35, 0.85, 0.09, 1.00,
       0.01, 0.09, 1.00, 1.00, 0.80, 0.07, 0.89, 1.00, 0.13, 0.96, 0.09,
       0.03, 0.05, 0.89, 0.93, 0.10, 0.85, 0.22, 0.88, 0.98, 1.00, 0.10,
       0.48, 0.04, 0.36, 0.12, 0.43, 0.21, 0.92, 0.78, 0.46, 0.04, 0.99,
       0.82, 0.95, 0.13, 0.02, 0.17, 0.79, 0.12, 0.61, 1.00, 0.17, 0.94,
       0.03, 0.95, 0.18, 0.69, 0.05, 0.76, 0.07, 0.44, 0.79, 0.09, 0.83,
       0.01, 0.03, 0.97, 0.03, 0.25, 0.06, 0.10, 0.07, 0.47, 0.01, 0.98,
       0.71, 0.83, 0.05, 0.89, 0.05, 0.94, 0.93, 0.54, 0.95, 0.77, 0.96,
       0.07, 0.88, 0.04, 0.04, 0.04, 0.03, 1.00, 0.33, 0.65, 1.00, 0.33,
       1.00, 0.93, 0.99, 0.92, 0.00, 0.70, 0.98, 0.58, 0.96, 0.99, 0.63,
       0.08, 1.00, 0.03, 0.03, 0.90, 0.74, 1.00, 0.91, 0.05, 0.86, 0.75,
       0.00, 0.91, 0.97, 0.06, 0.98, 0.90, 0.04, 0.81, 0.06, 0.04, 0.54,
       0.13, 0.40, 0.95, 0.02, 0.95, 0.22, 0.05, 1.00, 0.90, 0.68, 0.90,
       0.87, 0.05, 0.08, 0.04, 0.99, 0.94, 0.32, 0.71, 0.06, 0.65, 0.70,
       0.13, 0.75, 0.49, 0.05, 0.88, 0.05, 0.07, 0.98, 0.71, 1.00, 0.21,
       0.24, 0.02, 0.20, 0.52, 0.96, 0.48, 0.04, 0.99, 0.01, 0.01, 0.19,
       1.00, 0.36, 0.91, 0.43, 0.93, 0.74, 0.30, 0.17, 0.66, 0.90, 0.00,
       0.64, 0.10, 0.99, 0.83, 0.21, 0.08, 0.85, 0.18, 0.88, 0.88, 0.81,
       0.80, 0.70, 0.42, 0.98, 0.25, 0.02, 0.02, 0.01, 0.33, 0.12, 0.99,
       0.04, 0.05, 0.09, 0.00, 1.00, 0.19, 0.94, 0.07, 0.78, 0.04, 0.62,
       0.97, 0.57, 0.95, 0.04, 0.55, 1.00, 0.44, 0.47, 0.49, 0.05, 0.70,
       0.84, 0.09, 0.05, 0.04, 0.04, 1.00, 0.64, 0.55, 0.98, 0.34, 0.17,
       1.00, 0.55, 0.74, 0.47, 0.50, 0.08, 0.69, 0.00, 0.80, 0.13, 0.02,
       1.00, 0.98, 0.81, 0.72, 0.99, 0.16, 0.51, 0.73, 0.20, 0.25, 0.03,
       0.11, 0.11, 0.99, 0.34, 0.43, 0.98, 0.06, 0.51, 0.51, 0.87, 0.37,
       0.81, 0.02, 0.92, 0.94, 0.59, 0.34, 0.24, 0.17, 1.00, 0.77, 0.99,
       0.05])

In [18]:
reg_res.pred_table()

array([[220.00, 39.00],
       [31.00, 228.00]])